body {
  background-color: rgb(42, 56, 102);
}
#content {
  margin: auto;
  max-width: 600px;
}

#header {
  text-align: center;
}

#button_ {
  width: 100%;
}

#cat {
  width: 80%;
}

#primes {
  width: 100%;
  height: 200px;
}

#warning {
  color: rgb(125, 0, 0);
}
